.filters{
  border: 2px solid black;
  max-height: 700px;
  padding: 20px;
  margin-left: 20px;
}

/* .typeSelector {

}

.makeSelector {
  
}

.modelSelector {
  
}

.priceSelector {
  
}

.conditionSelector {
  
}

.yearSelector {
  
}

.mileageSelector {
  
} */