.vehicleCard {
    margin: 15px;
    padding: 10px;
    border: 2px solid black;;
    border-radius: 5px;
    transition: .2s;
}

.vehicleCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.vehicleCard > img {
    height: 60px;
    width: 90px;
}

